{% extends 'base.html' %}

{% block body %}
<div class="login">
  <h1><font color="green">
        Calculate Your BMI
    </font></h1></div>
    <div class="loginform">
   

    <!-- action="." is same as action="/bmi/" -->
    <form action="." method="POST">
       Name: <input type="text" name="name">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Calculate" />
    </form>
    {% if bmi %}
    <h2><font color="Red">
         Your BMI is {{bmi}}.</font>
    </h2>
    {% endif %}
</div>
{% endblock body %}