{% extends 'base.html' %}

{% block body %}
<div class="main">
	
	<div class="goalh1">
		<center><font color="green"><h1>CONTROL DIABETES</h1></font></center>
		</div>
	<div class="goalh1banner">
		<img src="image/controldiabites.png" height="425" width="100%">
		</div>
		
		
		<div class="goalh1txt">
		<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;"><strong>CONTROL DIABETES</strong></h2>
<h2 style="text-align: center;"><span style="text-decoration: underline;">OVERVIEW</span></h2>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<p style="text-align: center;">Type 2 diabetes, your body either resists the effects of insulin &mdash; a hormone that regulates the movement of sugar into your cells &mdash; or doesn't produce enough insulin to maintain a normal glucose level.</p>
<p style="text-align: center;">More common in adults, type 2 diabetes increasingly affects children as childhood obesity increases. You may be able to manage the condition and control it by eating well, exercising and maintaining a healthy weight. If diet is ordinary to manage your blood sugar well and you don&rsquo;t exercise then you have to need diabetes medications or insulin therapy.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">It&rsquo;s no secret that diet is essential to managing type 2 diabetes symptoms So let&rsquo;s eat right and do little bit workout to fix this problem.</p>
<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;">TIPS: DO&rsquo;s &amp; DON&rsquo;T&rsquo;s&nbsp;&nbsp;</h2>
<h3 style="text-align: center;">The Basics of Blood Sugar Control</h3>
<p style="text-align: center;">Type 2 diabetes is a condition in which the body doesn&rsquo;t make enough insulin. This can cause high blood sugar and symptoms such as:</p>
<ul style="text-align: center;">
<li>Fatigue</li>
<li>Blurred vision</li>
<li>Increased appetite</li>
<li>Excessive thirst</li>
<li>Excessive urination</li>
</ul>
<p style="text-align: center;">The <strong>normal blood sugar range </strong>for diabetics, as determined by the American Diabetes Association, is between 70 and 130 mg/dL before meals and less than 180 mg/dL a few hours after you began eating. You can use a blood sugar monitor to check your blood glucose levels and adjust your diet accordingly.</p>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Low-&shy;‐Sugar Diet</h3>
<p style="text-align: center;">When someone with diabetes has <strong>low blood sugar</strong>, a spoonful of honey can help raise glucose levels. However, sugar is often considered the nemesis of diabetes because of how quickly it can spike blood glucose levels.</p>
<p style="text-align: center;">If you have diabetes, you should closely monitor your sugar consumption &mdash; especially refined sugar and other forms of the simple carbohydrates. In addition to low-&shy;‐sugar foods, you should also eat low-&shy;‐ fat foods and a well-&shy;‐balanced diet.</p>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Low-&shy;‐Fat Diet</h3>
<p style="text-align: center;">Foods that are high in sodium, saturated fats, cholesterol, and trans fat can elevate your risk for heart disease and stroke. However, that doesn&rsquo;t mean that you have to avoid all fats. Foods rich in good fats&mdash;monounsaturated and polyunsaturated fat &mdash; can help lower cholesterol levels.</p>
<p style="text-align: center;">Try replacing refined oil with Olive oil, and nuts are also good sources of this nutrient.</p>
<h3 style="text-align: center;">Foods to Avoid:</h3>
<ul style="text-align: center;">
<li>Whole meat</li>
<li>Mutton</li>
<li>Processed foods</li>
<li>High-&shy;‐fat dairy products like whole fat milk, cheese, butter, etc</li>
</ul>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Fruits and Vegetables</h3>
<p style="text-align: center;">Balancing carbohydrates, fats, and sugars is integral to a diabetes-&shy;‐friendly diet. While processed and refined carbs are bad for you, whole grains and dietary fiber (good carbs) are beneficial in many</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">ways. Whole grains are rich in fiber and beneficial vitamins and minerals. Dietary fiber helps with digestive health, and helps you feel more satisfied after eating.</p>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Foods to Eat:</h3>
<ul style="text-align: center;">
<li>Leafy green vegetables &amp; Lettuce</li>
<li>All Nuts (Peanuts, Almonds, Cashews, Walnuts, etc)</li>
<li>Whole grains (Brown Rice, Whole wheat roti, Wheat bead, Oats, Quinoa, Millet, etc)</li>
<li>All Seeds (Flaxseed, Sesame seeds, Chia seeds, etc)</li>
<li>Low-&shy;‐fat dairy products</li>
<li>Beans, Channe and peas</li>
<li>Fresh low-&shy;‐sugar fruits (blueberries, raspberries, blackberries, cranberries, pears, melon, grapefruit, apple and cherries)</li>
</ul>
<h3 style="text-align: center;">Fruit to Avoid:</h3>
<ul style="text-align: center;">
<li>Watermelon</li>
<li>Pineapple</li>
<li>Raisins</li>
<li>Apricots</li>
<li>Grapes</li>
<li>Oranges</li>
</ul>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Complex Carbs (Starches)</h3>
<p style="text-align: center;">Starches are another type of food your body converts into blood glucose. They not only provide a source of energy but also vitamins, minerals, and fiber. Whole grain starches are the healthiest because they maximize nutrition and break down into the bloodstream slowly. I recommend at least one serving of starch at every meal.</p>
<h3 style="text-align: center;">Foods to Eat:</h3>
<ul style="text-align: center;">
<li>Whole Grain Bread</li>
<li>Whole Grain Pasta,</li>
<li>Whole Grain Cereal,</li>
<li>Brown Rice,</li>
<li>Whole Wheat Roti</li>
<li>Sweet Potato</li>
</ul>
<h3 style="text-align: center;">Foods to Avoid:</h3>
<ul style="text-align: center;">
<li>Potato chips</li>
<li>Packaged snacks</li>
<li>Candy bars</li>
<li>White Rice</li>
<li>White Bread</li>
<li>Refined Aata</li>
<li>White Naan</li>
<li>White Potato</li>
<li>Soft Drinks</li>
<li>Packed Juices</li>
<li>Indian Sweets</li>
</ul>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Cut back on refined carbs and sugary drinks. </strong>White bread, white rice, white pasta and potatoes cause quick increases in blood sugar, as do sugary soft drinks, fruit punch, and fruit juice. Over time, eating lots of these refined carbohydrates and sugar may increase your risk of type 2 diabetes. To lower your risk, switch to whole grains.</p>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">When to Eat</h3>
<p style="text-align: center;">If you have diabetes, you should eat smaller meals throughout the day to avoid unnecessary spikes in your blood glucose level. However, your body requires more sugars and carbohydrates during exercise, so eat before and after a workout.</p>
<p style="text-align: center;">Checkout nutrition plan at the bottom.</p>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="295">
<p><strong>FOOD TO AVOID</strong></p>
</td>
<td width="295">
<p><strong>FOOD TO EAT</strong></p>
</td>
</tr>
<tr>
<td width="295">
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole meat</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mutton</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Processed foods</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; High-&shy;‐fat dairy products like whole fat milk, cheese, butter</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Watermelon</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pineapple</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Apricots</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grapes</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Oranges</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Potato chips</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Packaged snacks</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Candy bars</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; White Rice</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; White Bread</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Refined Aata</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; White Naan</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; White Potato</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soft Drinks</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Packed Juices</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Indian Sweets</p>
</td>
<td width="295">
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Leafy green vegetables &amp; Lettuce</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Nuts (Peanuts, Almonds, Cashews, Walnuts, etc)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole grains</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Seeds (Flaxseed, Sesame seeds, Chia seeds, etc)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Low-&shy;‐fat dairy products</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Beans, Channe and peas</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fresh low-&shy;‐sugar fruits (blueberries, raspberries, blackberries, cranberries, pears, melon, grapefruit, apple and cherries)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole Grain Bread</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole Grain Pasta,</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole Grain Cereal,</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Brown Rice,</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whole Wheat Roti</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sweet Potato</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Millet</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Oats</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quinoa</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Eggs</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chicken</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fish</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tofu/Low Fat Paneer</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Vegetables</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;">NUTRITION PLAN</h1>
<h3 style="text-align: center;">For All Age MEN &amp; WOMEN</h3>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="84">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>OPTION#1</strong></p>
</td>
<td width="312">
<p><strong><u>Banana Shake</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Banana</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Non Fat Milk</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2sp Flaxseed (grounded)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2pinch Cinnamon</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1cup Strawberries/Blueberries 1cup Almond Milk or Soy Milk 2sp Chia or Sesame Seeds</p>
<p>1sp Peanut Butter</p>
</td>
</tr>
<tr>
<td width="84">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>OPTION#2</strong></p>
</td>
<td width="312">
<p><strong><u>Muesli</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Muesli (Bagrry&rsquo;s Brand)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Non Fat Milk</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1cup Bran Cereals</p>
<p>1cup Whole Grain Cereals 1cup Almond Milk or Soy Milk</p>
</td>
</tr>
<tr>
<td width="84">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>OPTION#3</strong></p>
</td>
<td width="312">
<p><strong><u>Scrambled Eggs &amp; Toast</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Whole Egg</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Egg White</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Whole wheat Bread or Roti</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup Melon</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1cup Cherries 1 Pear</p>
</td>
</tr>
<tr>
<td width="84">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>OPTION#4</strong></p>
</td>
<td width="312">
<p><strong><u>Oats</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; Oats</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; Apple</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 Almonds</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2pinch Cinnamon</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12; cup Millets</p>
<p>10 Cashews/Walnuts</p>
</td>
</tr>
</tbody>
</table>
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="584">
<table style="width: 99.6575%;" border="1">
<tbody>
<tr style="height: 35.8125px;">
<td style="height: 35.8125px; width: 100%;">
<p><strong>MEAL</strong><strong> 2 &ndash; AFTERNOON SNACK &ndash; 11-&shy;‐12PM</strong></p>
</td>
</tr>
</tbody>
</table>
&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong><span style="color: #ff0000;">EXTRA OPTION: You can add 1 plain roti with plain curd as well</span></strong></p>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#1</strong></p>
</td>
<td width="312">
<p><strong><u>Almonds &amp; Dried Cranberries</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10-&shy;‐12 Almonds</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10-&shy;‐12 Cranberries</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup Indian Tea [5g Stevia]</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>25g Walnuts/Cashews 10-&shy;‐12 Raisins</p>
<p>1 cup Green or Herbal Tea</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#2</strong></p>
</td>
<td width="312">
<p><strong><u>Nuts &amp; Fruits</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Papaya</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Pear or Guava</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 Cashews (non salted)</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1 Apple</p>
<p>1cup Berries or Cherries 28g Peanuts</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#3</strong></p>
</td>
<td width="312">
<p><strong><u>Almonds &amp; Apple</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Apple</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10-&shy;‐12 Almonds</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup Indian Tea [5g Stevia]</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>25g Walnuts/Cashews 10-&shy;‐12 Raisins</p>
<p>1 cup Green or Herbal Tea</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#4</strong></p>
</td>
<td width="312">
<p><strong><u>Nuts &amp; Fruits</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Pear</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Cherries</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Peanuts (non salted)</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>25g Walnuts/Cashews 10-&shy;‐12 Raisins</p>
<p>1 cup Green or Herbal Tea</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="118">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td width="584">
<table border="1" width="100%">
<tbody>
<tr>
<td>
<p><strong>MEAL</strong><strong> 3 &ndash; LUNCH &ndash; 2-&shy;‐3PM</strong></p>
</td>
</tr>
</tbody>
</table>
&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<br />
<p><strong>OPTION#1</strong></p>
</td>
<td width="313">
<p><strong><u>Rice Palao</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; cup cooked Brown Rice Add vegetables</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Peas</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Cauliflower</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Carrots</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Bell pepper</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Onion (Add Tulsi)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup Low fat Yogurt (Curd)</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12; Flattened Rice (Poha)</p>
<p>Add any other vegetable as well</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#2</strong></p>
</td>
<td width="313">
<p><strong><u>Paneer Bhurji</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 60-&shy;‐80g Fresh Paneer Add 2 cup vegetables</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Peas</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Bell pepper</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Tomato</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Ginger</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Onion</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Whole Roti</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>60-&shy;‐80g Soy Paneer (Tofu)</p>
<p>Add any other vegetable as well</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#3</strong></p>
</td>
<td width="313">
<p><strong><u>Rajma Chawal</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; cup cooked Brown Rice</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Kidney Beans</p>
<p>(Cooked in olive oil)</p>
<p>&frac12; Cucumber</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12;cup Black Lentil</p>
<p>&frac12;cup White/Black Chickpeas cooked in coconut oil</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#4</strong></p>
</td>
<td width="313">
<p><strong><u>Egg Bhurgi</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 Egg Whites</p>
<p>Add 2 cup vegetables</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Peas</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Bell pepper</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Tomato</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Ginger</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Onion</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Whole Roti</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>Tofu or Paneer Bhurji</p>
</td>
</tr>
</tbody>
</table>
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="584">
<table border="1" width="100%">
<tbody>
<tr style="height: 35.8125px;">
<td style="height: 35.8125px;">
<p><strong>MEAL</strong><strong> 4 &ndash; EVENING SNACK &ndash; 5-&shy;‐6PM</strong></p>
</td>
</tr>
</tbody>
</table>
&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong><span style="color: #ff0000;">EXTRA OPTION: You can add 1 plain roti with mixed vegetables or Dal or Channe or Spinach as well</span></strong></p>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#1</strong></p>
</td>
<td width="312">
<p><strong><u>Roasted Channe</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Roasted White Chickpeas</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1cup Black Chickpeas</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#2</strong></p>
</td>
<td width="312">
<p><strong><u>Cookies</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 Oats Cookie(Britannia Nutricare)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Skim Milk</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>2 Fiber Biscuits</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#3</strong></p>
</td>
<td width="312">
<p><strong><u>Roasted Soy</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Roasted Soy Beans</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1cup Black/White Chickpeas</p>
</td>
</tr>
<tr>
<td width="84">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#4</strong></p>
</td>
<td width="312">
<p><strong><u>Protein Laddoo</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Protein Laddoo**</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup Indian Tea [5g Stevia]</p>
<p><strong><em>**Recipe is on my Health and Fitness Channel</em></strong></p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1 Home made protein bar</p>
<p><strong><em>Recipe is on my Health and Fitness Channel</em></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="118">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td width="584">
<table border="1" width="100%">
<tbody>
<tr>
<td>
<p><strong>MEAL</strong><strong> 5 &ndash; DINNER &ndash; 8-&shy;‐9PM</strong></p>
</td>
</tr>
</tbody>
</table>
&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<br />
<p><strong>OPTION#1</strong></p>
</td>
<td width="313">
<p><strong><u>Bean Bowl</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; cup Kidney Beans</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2sp Onion</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2sp Tomato</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 50g Paneer</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; chopped Carrot</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; chopped Cucumber</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; Lemon</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Little bit cilantro</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12;cup Black Kidney Beans</p>
<p>&frac12;cup Lentil</p>
<p>60g Grilled Chicken 50g Soy Chunks 50g Tofu</p>
<p>Add any other vegetable as well</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#2</strong></p>
</td>
<td width="313">
<p><strong><u>Roti Roll</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Whole Roti</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cup mixed vegetables</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Peas</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Cauliflower</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Carrots</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Bell pepper</p>
<p>&Oslash;&Oslash;&nbsp;&nbsp; Onion</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12;cup Brocolli Red Bell Pepper Green Beans</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#3</strong></p>
</td>
<td width="313">
<p><strong><u>Dal Chawal</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; cup cooked Brown Rice</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 cup Any Lentil</p>
<p>(Cooked in olive oil)</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &frac12; Apple</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>&frac12;cup Mushrooms 1 Roti</p>
<p>&frac12; Orange</p>
</td>
</tr>
<tr>
<td width="83">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPTION#4</strong></p>
</td>
<td width="313">
<p><strong><u>Soup</u></strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Bowl Home Made Tomato Soup</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 Boiled Egg Whites</p>
</td>
<td width="187">
<p><strong>ALTERNATES:</strong></p>
<p>1 Bowl Chicken Soup</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong><span style="color: #ff0000;">EXTRA OPTION: You can add 1 plain roti with mixed vegetables or Dal or Channe or Spinach as well</span></strong></p>
<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;">WORKOUT PLAN</h1>
<h3 style="text-align: center;">For MEN &amp; WOMEN &ndash; AGE 16 to 40</h3>
<p style="text-align: center;"><strong>For GYM WORKOUT Follow:</strong></p>
<ul style="text-align: center;">
<li>6 Week Shredded</li>
<li>Muscular 8</li>
<li>Shredded Next Level</li>
<li>Get Ripped</li>
</ul>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">For HOME WORKOUT Follow:</h3>
<ul style="text-align: center;">
<li>Fit Zone Level 1</li>
<li>Fit Zone Level 2</li>
<li>Fit Zone Level 3</li>
<li>Fit Zone Level 4</li>
<li>Fit Zone Level 5</li>
</ul>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">For MEN &amp; WOMEN &ndash; AGE 40+</h3>
<p style="text-align: center;">1 Hour Out door Walk or on Treadmill Everyday or Gym Workout</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong><u>NOTE:</u></strong> <strong>All programs are available FREE on my &ldquo;Health And Fitness&rdquo; YouTube Channel.</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong><u>NOTE:</u></strong> <strong>PRINT OUT THIS PAGE AND FILL OUT THE BODY MEASUREMENTS ON WEEKLY BASIS TO SEE THE PROGRESS</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
</div>
		
	</div>

{% endblock body %}