{% extends 'base.html' %}

{% block body %}

<div class="workoutlinkmain">
		
    <div class="workoutlinkmainheader"><center> <font color="green"><h1>Workout List </h1></font></center> </div>
    
    <div class="workoutlinktxt">
    
      <div class="workoutlinklist">
         <a href="#"><center><font color="green"><h2>Chest</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Shoulder</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Biceps</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Triceps</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Forarms</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Abs</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Middle Back</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Lower Back</h2></font></center></a><hr>
          <a href="#"><center><font color="green"><h2>Hamstring</h2></font></center></a><hr>
        </div>
        
        
        
      <div class="workoutlinkdetails"></div>
    
    
    </div>
</div>
   
   </div>
{% endblock body %}