{% extends 'base.html' %}

{% block body %}
<div class="main">
	
	<div class="goalh1">
		<center><font color="green"><h1> FIGHT CANCER</h1></font></center>
		</div>
	<div class="goal11fightcancerb1">
		
		</div>
		
		
		<div class="goalh2txtb1">
		<center>
			<p>&nbsp;</p>
<h2 style="text-align: center;"><span style="color: #ff0000;">&nbsp;FIGHT CANCER</span></h2>
<h2 style="text-align: center;">Prepared for: Cancer Patients Created by: Guru Mann</h2>
<h2 style="text-align: center;"><strong>Plan: Nutrition Videos &amp; PDF</strong></h2>
<p><strong>&nbsp;</strong>&nbsp;</p>
<h1>What is Cancer?</h1>
<p>Cancer is the uncontrolled growth of abnormal cells in the body. Cancer develops when the body&rsquo;s normal control mechanism stops working. Old cells do not die and instead grow out of control, forming new, abnormal cells. These extra cells may form a mass of tissue, called a tumor. Some cancers, such as leukemia do not form tumors.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Differences between Cancer Cells and Normal Cells</h1>
<p>Cancer cells differ from normal cells in many ways that allow them to grow out of control and become invasive. One important difference is that cancer cells are less specialized than normal cells. That is, whereas normal cells mature into very distinct cell types with specific functions, cancer cells do not. This is one reason that, unlike normal cells, cancer cells continue to divide without stopping.</p>
<p>&nbsp;</p>
<p>In addition, cancer cells are able to ignore signals that normally tell cells to stop dividing or that begin a process known as programmed cell death, or apoptosis, which the body uses to get rid of unneeded cells.</p>
<p>&nbsp;</p>
<p>Cancer cells may be able to influence the normal cells, molecules, and blood vessels that surround and feed a tumor&mdash;an area known as the microenvironment. For instance, cancer cells can induce nearby normal cells to form blood vessels that supply tumors with oxygen and nutrients, which they need to grow. These blood vessels also remove waste products from tumors.</p>
<p>&nbsp;</p>
<p>Cancer cells are also often able to evade the immune system, a network of organs, tissues, and specialized cells that protects the body from infections and other conditions. Although the immune system normally removes damaged or abnormal cells from the body, some cancer cells are able to &ldquo;hide&rdquo; from the immune system.</p>
<p>&nbsp;</p>
<p>Tumors can also use the immune system to stay alive and grow. For example, with the help of certain immune system cells that normally prevent a runaway immune response cancer cells can actually keep the immune system from killing cancer cells.</p>
<p>&nbsp;</p>
<h2><strong>AN</strong><strong>T</strong><strong>I</strong><strong>-&shy;‐</strong><strong>CA</strong><strong>N</strong><strong>CE</strong><strong>R</strong> <strong>G</strong><strong>R</strong><strong>O</strong><strong>C</strong><strong>ER</strong><strong>Y</strong> <strong>LIS</strong><strong>T</strong></h2>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="49">
<p><strong>#</strong></p>
</td>
<td width="294">
<p><strong>FOOD</strong></p>
</td>
<td width="48">
<p><strong>#</strong></p>
</td>
<td width="312">
<p><strong>FOOD</strong></p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>1</strong></p>
</td>
<td width="294">
<p>Spinach</p>
</td>
<td width="48">
<p><strong>18</strong></p>
</td>
<td width="312">
<p>Apple</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>2</strong></p>
</td>
<td width="294">
<p>Cucumber</p>
</td>
<td width="48">
<p><strong>19</strong></p>
</td>
<td width="312">
<p>Red Grapes</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>3</strong></p>
</td>
<td width="294">
<p>Onion</p>
</td>
<td width="48">
<p><strong>20</strong></p>
</td>
<td width="312">
<p>Strawberries</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>4</strong></p>
</td>
<td width="294">
<p>Tomato</p>
</td>
<td width="48">
<p><strong>21</strong></p>
</td>
<td width="312">
<p>Blueberries</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>5</strong></p>
</td>
<td width="294">
<p>Celery</p>
</td>
<td width="48">
<p><strong>22</strong></p>
</td>
<td width="312">
<p>Oranges</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>6</strong></p>
</td>
<td width="294">
<p>Carrots</p>
</td>
<td width="48">
<p><strong>23</strong></p>
</td>
<td width="312">
<p>Walnuts</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>7</strong></p>
</td>
<td width="294">
<p>Beet Roots</p>
</td>
<td width="48">
<p><strong>24</strong></p>
</td>
<td width="312">
<p>Almonds</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>8</strong></p>
</td>
<td width="294">
<p>Lemon</p>
</td>
<td width="48">
<p><strong>25</strong></p>
</td>
<td width="312">
<p>Chia Seeds</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>10</strong></p>
</td>
<td width="294">
<p>Ginger</p>
</td>
<td width="48">
<p><strong>26</strong></p>
</td>
<td width="312">
<p>Flax Seeds</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>11</strong></p>
</td>
<td width="294">
<p>Broccoli</p>
</td>
<td width="48">
<p><strong>27</strong></p>
</td>
<td width="312">
<p>Lentils</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>12</strong></p>
</td>
<td width="294">
<p>Cabbage</p>
</td>
<td width="48">
<p><strong>28</strong></p>
</td>
<td width="312">
<p>Chickpeas</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>13</strong></p>
</td>
<td width="294">
<p>Cauliflower</p>
</td>
<td width="48">
<p><strong>29</strong></p>
</td>
<td width="312">
<p>Kidney Beans</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>14</strong></p>
</td>
<td width="294">
<p>Green &amp; Red Bell pepper</p>
</td>
<td width="48">
<p><strong>30</strong></p>
</td>
<td width="312">
<p>Eggs</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>15</strong></p>
</td>
<td width="294">
<p>Wheatgrass</p>
</td>
<td width="48">
<p><strong>31</strong></p>
</td>
<td width="312">
<p>Green Tea</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>16</strong></p>
</td>
<td width="294">
<p>Kale</p>
</td>
<td width="48">
<p><strong>32</strong></p>
</td>
<td width="312">
<p>Alkaline Water/Coconut Water</p>
</td>
</tr>
<tr>
<td width="49">
<p><strong>17</strong></p>
</td>
<td width="294">
<p>Sweet Potato</p>
</td>
<td width="48">
<p><strong>33</strong></p>
</td>
<td width="312">
<p>Cow Milk</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>MEAL 1 &ndash; GREEN JUICE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="109">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="126">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> I</strong><strong>NGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Cucumber</strong></p>
</td>
<td width="96">
<p><strong>1</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Lignans &amp; Cucurbitacins</strong></p>
<p><strong>(Phytonutrients)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Spinach</strong></p>
</td>
<td width="96">
<p><strong>1 cup</strong></p>
</td>
<td width="126">
<p><strong>Kale</strong></p>
</td>
<td width="402">
<p><strong>Lutein, Zeayanthin &amp; Carotenoids (Which remove free radicals)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Celery</strong></p>
</td>
<td width="96">
<p><strong>3 Stick</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Apigenin</strong></p>
<p><strong>(It is a phyto-&shy;‐chemical compound which helps cancer cells to suicide)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Apple</strong></p>
</td>
<td width="96">
<p><strong>&frac12;</strong></p>
</td>
<td width="126">
<p><strong>Green Apple</strong></p>
</td>
<td width="402">
<p><strong>Flavonoids</strong></p>
<p><strong>(It kills the free radicals)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Almonds</strong></p>
</td>
<td width="96">
<p><strong>28g</strong></p>
</td>
<td width="126">
<p><strong>Walnuts</strong></p>
</td>
<td width="402">
<p><strong>Eat Almonds Separately</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Green Juice video on YouTube for detailed info</span></h2>
<p><strong>&nbsp;</strong></p>
<p><strong>MEAL 2 &ndash; RED JUICE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="109">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="126">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> I</strong><strong>NGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Carrots</strong></p>
</td>
<td width="96">
<p><strong>5-&shy;‐6</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Carotenoids (Remove Free radicals)</strong></p>
<p><strong>Flavonoids (It kills the free radicals)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Beet Roots</strong></p>
</td>
<td width="96">
<p><strong>&frac12;</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>High in Iron</strong></p>
<p><strong>(It protects our cells / regenerate red blood cells / supply more oxygen in the cells)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Lemon</strong></p>
</td>
<td width="96">
<p><strong>&frac12;</strong></p>
</td>
<td width="126">
<p><strong>1 Orange</strong></p>
</td>
<td width="402">
<p><strong>Aid to Digestion / Reduce Stress &amp; Anxiety</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Ginger</strong></p>
</td>
<td width="96">
<p><strong>&frac14;</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>I</strong><strong>t is an anti-&shy;‐inflammatory reduces the inflammation</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Walnuts</strong></p>
</td>
<td width="96">
<p><strong>28g</strong></p>
</td>
<td width="126">
<p><strong>Almonds</strong></p>
</td>
<td width="402">
<p><strong>Eat Walnuts Separately</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Red Juice video on YouTube for detailed info</span></h2>
<p><strong>&nbsp;</strong></p>
<p><strong>MEAL 3 &ndash; BERRY SMOOTHIE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="116">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="120">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> I</strong><strong>NGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Blueberries</strong></p>
</td>
<td width="96">
<p><strong>1cup</strong></p>
</td>
<td width="120">
<p><strong>Blackberries</strong></p>
</td>
<td width="402">
<p><strong>Phenol Antioxidant</strong></p>
<p><strong>(Protect DNA from oxidative stress everyday</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Strawberries</strong></p>
</td>
<td width="96">
<p><strong>1cup</strong></p>
</td>
<td width="120">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Phenol &amp; Flavonoids</strong></p>
<p><strong>(Powerful antioxidant for cancer self destructive)</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Flaxseeds</strong></p>
<p><strong>Chia Seeds</strong></p>
</td>
<td width="96">
<p><strong>1spoon</strong></p>
<p><strong>1spoon</strong></p>
</td>
<td width="120">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>High Lignans.</strong></p>
<p><strong>Oil present in the seeds reduce Tumor growth</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Berry Smoothie video on YouTube for detailed info</span><strong>&nbsp;</strong></h2>
<p>&nbsp;</p>
<p><strong>M</strong><strong>EA</strong><strong>L</strong> <strong>4</strong> <strong>&ndash;</strong> <strong>AN</strong><strong>T</strong><strong>I</strong><strong>-&shy;‐</strong><strong>CA</strong><strong>N</strong><strong>CE</strong><strong>R</strong> <strong>TE</strong><strong>A</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="116">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="120">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> INGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Green tea</strong></p>
</td>
<td width="96">
<p><strong>1-&shy;‐2 bag</strong></p>
</td>
<td width="120">
<p><strong>Black Tea</strong></p>
</td>
<td width="402">
<p><strong>EGCG &ndash; Epi Gallo Catechin Gallate (It stops cancer cells to grow)</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Walnuts</strong></p>
</td>
<td width="96">
<p><strong>28g</strong></p>
</td>
<td width="120">
<p><strong>Almonds</strong></p>
</td>
<td width="402">
<p><strong>Polyphenol &amp; Flavonoids</strong></p>
<p><strong>(Powerful antioxidant for cancer self destructive)</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Anti cancer Tea video on YouTube for detailed info</span></h2>
<p><strong>&nbsp;</strong></p>
<p><strong>MEAL 5 &ndash; WHEATGRASS SHOT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="116">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="120">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> I</strong><strong>NGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="116">
<p><strong>Wheatgrass</strong></p>
</td>
<td width="96">
<p><strong>2-&shy;‐3</strong></p>
<p><strong>Handful</strong></p>
</td>
<td width="120">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Alkaline Food</strong></p>
<p><strong>It has selenium &amp; B17.</strong></p>
<p><strong>Contain SOD &ndash; Super Oxide Dismutase.</strong></p>
<p><strong>Extremely concentrated form of Chlorophyll. Increases red blood cells.</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Wheatgrass Shot video on YouTube for detailed info</span></h2>
<p><strong>&nbsp;</strong></p>
<p><strong>MEAL 6 &ndash; LEGUME BOWL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="109">
<p><strong>FOOD</strong></p>
</td>
<td width="96">
<p><strong>QUANTITY</strong></p>
</td>
<td width="126">
<p><strong>ALTERNATE</strong></p>
</td>
<td width="402">
<p><strong>ANTI</strong><strong>-&shy;‐</strong><strong>CANCE</strong><strong>R</strong><strong> I</strong><strong>NGREDIENT</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Legumes Beans, Lentil</strong></p>
<p><strong>&amp; Chickpeas</strong></p>
</td>
<td width="96">
<p><strong>&frac12; cup each</strong></p>
</td>
<td width="126">
<p><strong>Black Channe Soy Beans</strong></p>
<p><strong>Black Beans</strong></p>
</td>
<td width="402">
<p><strong>Saponins (Slows the growth of Tumor) Protease (Slows the division of cancer cells)</strong></p>
<p><strong>Phtic Acid (Slows the growth of Tumor)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Broccoli (Chopped)</strong></p>
</td>
<td width="96">
<p><strong>&frac12; cup</strong></p>
</td>
<td width="126">
<p><strong>Cauliflower Cabbage</strong></p>
</td>
<td width="402">
<p><strong>Sulporaphan Compound</strong></p>
<p><strong>(It protects the surrounding healthy cells)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Tomato</strong></p>
</td>
<td width="96">
<p><strong>&frac12; cup</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>High in Lycopene</strong></p>
<p><strong>(It is an antioxidant which protect DNA in your cells that can lead to cancer)</strong></p>
</td>
</tr>
<tr>
<td width="109">
<p><strong>Onion</strong></p>
</td>
<td width="96">
<p><strong>&frac14; cup</strong></p>
</td>
<td width="126">
<p><strong>-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong><strong>N/A-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐-&shy;‐</strong></p>
</td>
<td width="402">
<p><strong>Quercetin &amp; Anthocyanin</strong></p>
<p><strong>(An</strong><strong>ti-&shy;‐cancer compound which decreases the Tumor growth)</strong></p>
</td>
</tr>
</tbody>
</table>
<h2><span style="color: #ff0000;">NOTE: Watch Fight Cancer-&shy;‐Legume bowl video on YouTube for detailed info</span></h2>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><span style="color: #ff0000;"><strong>TIPS:</strong></span></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Eat mixed fruit bowl few times a week in replacement of Juice.</h3>
<ul>
<li>Drink Green tea few times a week.</li>
<li>Drink Tulsi Tea (Basil) few times a</li>
<li>Eat Indian style green beans, okra, green bell pepper, green peas, etc once a</li>
<li>Drink Alkaline water, avoid tap water.</li>
</ul>
			</center>
</div>
{% endblock body %}