{% extends 'base.html' %}

{% block body %}
<div class="goal">
    <div class="goalheader"><center><font color="green"><h1>PROFESSIONAL PROGRAMS WITH WORKOUT & NUTRITION</font></h1></center></div>
   <div class="goal1">
   <div class="goal11leanmode">
    
   </div>
       
   <div class="goal12">
   <center><h2><font color="red">LEAN MODE 5-10-20</font></h2>
       <h3>Target People: Indian</h3>
       <h3>Category: Strength & Endurance</h3>
        <h3>Body Type: Skinny Fat or Average Body</h3>
       </center>
   </div>
       
   <div class="goal13">
   <center><a href="/leanmode"> <h2 style="padding-top: 60px"> View More </h2></a></center>
       </div></div>
   
   <div class="goal1">
   <div class="goal11shreddha">
   
   </div>
   <div class="goal12">
    <center><h2><font color="red">SHREDDED NEXT LEVEL</font></h2>
       <h3>Target People: Indian</h3>
       <h3>Category: Fat Loss (Level-III)</h3>
        <h3>Body Type: 12%-30% BodyFat</h3>
       </center>
   </div>
   <div class="goal13">
   <center><a href="/shreddha"> <h2 style="padding-top: 60px"> View More </h2></a></center>
       </div></div>
   
   <div class="goal1">
   <div class="goal11diebetes">
           

   </div>
   <div class="goal12">
     <center><h2><font color="red">CONTROL DIABETES</font></h2>
       <h3>Target People: Indian (MEN & WOMEN)</h3>
       <h3>Category: Type-2 Diabetes (Medical Condition)</h3>
        <h3>Body Type: All</h3>
       </center>
   </div>
   <div class="goal13">
    <center><a href="/diebetes"> <h2 style="padding-top: 60px"> View More </h2></a></center>
       </div></div>
   
   <div class="goal1">
   <div class="goal11fightcancer">
           

   </div>
   <div class="goal12">
    <center><h2><font color="red">FIGHT CANCER</font></h2>
       <h3>Target People: Everyone</h3>
       <h3>Category: For Cancer Patients</h3>
        <h3>Body Type: All</h3>
       </center>
   </div>
   <div class="goal13">
   <center><a href="/fightcancer"> <h2 style="padding-top: 60px"> View More </h2></a></center>
       </div></div>
   <div class="goal1">
   <div class="goal1117inches">
           

   </div>
   <div class="goal12">
   <center><h2><font color="red">17 INCHES</font></h2>
       <h3>Target People: Indian</h3>
       <h3>Category: Arm Muscle Building</h3>
        <h3>Body Type: All</h3>
       </center>
   </div>
   <div class="goal13">
   <center><a href="/17inches"> <h2 style="padding-top: 60px"> View More </h2></a></center>
       </div></div>
   
   <center><h2> < &nbsp;<a href="#">1</a> &nbsp;<a href="#">2 &nbsp;</a> . &nbsp; .> </h2>
   </center>
   
   

</div>

{% endblock body %}