{% extends 'base.html' %}

{% block body %}

<div class="image-container">
	<div class="text">
		<h1>BNI CALCULATOR</h1><br>
		<h3>Gutim comes packed with the user-friendly BMI Calculator
			shortcode which lets</h3>
		<a href="/bmi"><input type="button" value="CALCULATOR" name="Read More"></a>
	</div>
</div>



<div class="middleware">
	<div class="div1image"></div>
	<div class="div1imagecontant">
		<center><h1><font color="green">STORY ABOUT US</font></h1></center>
		<p>Getting fit – if you're a beginner, you should start with brisk walking, progress to jogging and work up to running. This should take a few months.</p>
		<p>General fitness – mix your running with other forms of exercise (such as swimming or team sports) to maximise your overall fitness.</p>
		<p>Weight loss – adjust your diet to include plenty of fresh fruits and vegetables, lean meats, wholegrain cereals and low-fat dairy products. Cut back on dietary fats, takeaway foods, soft drinks and sugar.</p>
		<p>Competition – running clubs may offer competitive events. Most clubs have sessions designed for beginners through to advanced runners. You can pit your running skills against others in fun runs or marathons. Many community-based running events cater for people of all ages and abilities. Join a local orienteering club to combine running with the challenge of navigating through various environments.</p>
	</div>
  </div>
  <div class="TRAINERSblog">
		<center><h1><font color="green">EXPERT TRAINERS</font></h1></center>
	<div class="TRAINERSblog1">
		
	</div>
	<div class="TRAINERSblog2">
	</div>
	<div class="TRAINERSblog3">
	</div>
	<div class="TRAINERSblog1txt">
		<center><h1>Patrick Cortez</h1><p>Leader</p></center>
	</div>
	<div class="TRAINERSblog2txt">
		<center><h1>Gregory Powers</h1><p>Gym coach</p></center>
	</div>
	<div class="TRAINERSblog3txt">
		<center><h1>Walter Wagner</h1><p>Dance trainer</p></center>
	</div></div>
	
	
	<div class="TRAINERSicon">
		
	<div class="TRAINERSicon1">
		
	</div>
	<div class="TRAINERSicon2">
	</div>
	<div class="TRAINERSicon3">
	</div>
	<div class="TRAINERSicon1txt">
		<center><h2>exercise</h2><p>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor.</p></center>
	</div>
	<div class="TRAINERSicon2txt">
		<center><h2>diet food</h2><p>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor.</p></center>
	</div>
	<div class="TRAINERSicon3txt">
		<center><h2>Nutrition</h2><p>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor.</p></center>
	</div></div>
	
	<div class="leftrightpost1">
	<div class="div1image1"></div>
	<div class="div1imagecontant1">
		<center><h1><font color="green">STORY ABOUT US</font></h1></center>
		<p>Exercise is crucial to supporting a fast metabolism and burning more calories per day. It also helps you maintain your muscle mass and weight loss.</p>
		<p>Some studies have shown that inactivity is a major factor in weight gain and obesity. To understand the effect of exercise on weight reduction, it is important to understand the relationship between exercise and energy expenditure. Your body spends energy in three ways: digesting food, exercising and maintaining body functions like your heartbeat and breathing. While dieting, a reduced calorie intake will lower your metabolic rate, which will delay weight loss. On the contrary, regular exercise has been shown to increase your metabolic rate, which will burn more calories and help you lose weight.</p>
	</div>
	</div>
	
	<div class="leftrightpost2">
	<div class="div1image2">
		<center><h1><font color="green">Chickpeas</font></h1></center>
		<p>They're filled with fiber and plant-based protein, as well as immune-boosting antioxidants and bloat-busting minerals. Chickpeas easily go in soups, stews, salads, and side dishes. Plus, chickpea flour is a great baking alternative for a more nutrient-dense and filling end result.</p>
		
		<p>Fiber may benefit people with diabetes, and the American Diabetes Association recommend chickpeas as a source of dietary fiber. To prevent high blood pressure, experts recommend limiting the intake of added sodium, or salt, and increasing the intake of potassium.</p></div>
	<div class="div1imagecontant2">
	
	</div>
	</div>
	
	<div class="leftrightpost3">
	<div class="div1image3"></div>
	<div class="div1imagecontant3">
		<center><h1><font color="green">Nuts</font></h1></center>
		<p>Almonds, peanuts, walnuts, pistachios — at GH, we're nuts about nuts! People who snack on nuts may have lower abdominal fat than those who munch on carb-based treats, according to a 2015 study in the Journal of the American Heart Association. Nuts are rich in monounsaturated fats, a heart-healthy (and more satisfying) pick than their grain-based counterparts.</p>
		<p>Nuts are seed kernels that are widely used in cooking or eaten on their own as a snack. They’re high in fat and calories. They contain a hard, inedible outer shell that usually needs to be cracked open to release the kernel inside. Fortunately, you can buy most nuts from the store already shelled and ready to eat.</p>
	</div>
	</div>
	
	<div class="middleware2"></div>
		<div class="footorlogo"></div>

{% endblock body %}