{% extends 'base.html' %}

{% block body %}
<div class="main">
	
	<div class="goalh1">
		<center><font color="green"><h1>LEAN MODE 5-10-20</h1></font></center>
		</div>
	<div class="goal11leanmodeb1">
		</div>
		
		
		<div class="goalh1txt">
		<center>	
<p>&nbsp;</p>
<p>&nbsp;</p>
	<center><h1><font color="green">NUTRITION PLAN // EVENING WORKOUT</font></h1></center>
<p style="text-align:center;"><strong>NON-&shy;‐VEG</strong></p>
<table style="width: 530px;" border="1">
<tbody>
<tr>
<td style="width: 73px;">
<p><strong>TIME</strong></p>
</td>
<td style="width: 281px;">
<p><strong>WORKOUT DAYS &amp; NON WORKOUT DAY</strong></p>
<p><strong>NUTRITION</strong></p>
</td>
<td style="width: 109px;">
<p><strong>MACRO</strong></p>
<p><strong>BREAKDOWN</strong></p>
</td>
<td style="width: 57px;" rowspan="4">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p>&nbsp;</p>
</td>
<td style="width: 390px;" colspan="2">
<p><strong>MEAL 1</strong></p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p><strong>BREAKFAST</strong></p>
<p>8-&shy;‐9AM</p>
</td>
<td style="width: 281px;">
<p><strong>PROTEIN SMOOTHIE</strong></p>
<p>-&shy;‐2/3sp Whey</p>
<p>-&shy;‐1/2 cup Oats</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐240ml non fat milk</p>
<p>-&shy;‐2g Cinnamon</p>
</td>
<td style="width: 109px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p>&nbsp;</p>
</td>
<td style="width: 390px;" colspan="2">
<p><strong>MEAL 2</strong></p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p><strong>SNACK</strong></p>
<p>11-&shy;‐12PM</p>
</td>
<td style="width: 281px;">
<p><strong>SPINACH OMELETE</strong></p>
<p>-&shy;‐1 Whole Egg</p>
<p>-&shy;‐5 Egg Whites</p>
<p>-&shy;‐3 slice whole wheat bread</p>
<p>-&shy;‐2 Handful Spinach</p>
<p>-&shy;‐1 Orange</p>
</td>
<td style="width: 109px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td style="width: 57px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p>&nbsp;</p>
</td>
<td style="width: 390px;" colspan="2">
<p><strong>MEAL 3</strong></p>
</td>
<td style="width: 57px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p><strong>LUNCH</strong></p>
<p>2-&shy;‐3PM</p>
</td>
<td style="width: 281px;">
<p><strong>POTATO BEAN BOWL</strong></p>
<p>-&shy;‐100g Grilled Chicken</p>
<p>-&shy;‐1/2 cup Black Kidney Beans or Red Kidney Beans</p>
<p>-&shy;‐1/2 cup White Chickpeas</p>
<p>-&shy;‐100g Sweet Potato</p>
<p>-&shy;‐1/2 Green Bell Pepper</p>
<p>-&shy;‐1/2sp Olive oil</p>
<p>-&shy;‐3sp Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐1/2 Lemon</p>
</td>
<td style="width: 109px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td style="width: 57px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p>&nbsp;</p>
</td>
<td style="width: 390px;" colspan="2">
<p><strong>MEAL 4</strong></p>
</td>
<td style="width: 57px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 73px;">
<p><strong>SNACK</strong></p>
<p>4-&shy;‐5PM</p>
</td>
<td style="width: 281px;">
<p><strong>MULTI GRAIN MEAL</strong></p>
<p>-&shy;‐1/8cup Oats</p>
<p>-&shy;‐1/8cup Quinoa</p>
<p>-&shy;‐1/8cup Millet</p>
<p>-&shy;‐1/8cup Amarathan</p>
<p>-&shy;‐1/2sp Whey</p>
<p>-&shy;‐1sp Peanuts + &frac12; Apple</p>
</td>
<td style="width: 109px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td style="width: 57px;">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>PRE W/O</strong></p>
<p>6PM</p>
</td>
<td width="372">
<p><strong>PRE W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1scoop C4 or Amino Energy or Assault or 1.M.R or No Xplode</p>
<p>-&shy;‐200ml Cold Water</p>
<p><strong>OR</strong></p>
<p><strong>PRE W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐&frac12;tbs Coffee (Nescafe)</p>
<p>-&shy;‐240ml Hot Water + 1sp milk</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>6:30-&shy;‐7:30</p>
</td>
<td width="372">
<p>WORKOUT</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>POST W/O</strong></p>
<p>7:30PM</p>
</td>
<td width="276">
<p><strong>POST W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1-&shy;‐2scoop Whey Protein</p>
<p>-&shy;‐5g BCAA</p>
<p>-&shy;‐240ml Gatorade</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
<p><strong>OR</strong></p>
<p><strong>POST W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐6 Boiled Egg Whites</p>
<p>-&shy;‐240ml Non fat milk</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 400</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 70g PRO &ndash; 30g FAT &ndash; 0g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 5</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>DINNER</strong></p>
<p>8:30-&shy;‐9PM</p>
</td>
<td width="276">
<p><strong>BOILED EGG SABJI</strong></p>
<p>-&shy;‐2 Whole Eggs (boiled)</p>
<p>-&shy;‐3 Egg Whites (boiled)</p>
<p>-&shy;‐&frac12; Green Bell Pepper</p>
<p>-&shy;‐3sp Red Onions</p>
<p>-&shy;‐3sp Green Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐2 Thin Chapatti</p>
<p>-&shy;‐1sp Ketchup</p>
<p>-&shy;‐Salt/Pepper/Garlic Power</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 6</strong></p>
</td>
<td rowspan="3" width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BEFORE BED</strong></p>
<p>11PM</p>
</td>
<td width="276">
<p><strong>PROTEIN PAN CAKE</strong></p>
<p>-&shy;‐1 Whole Egg</p>
<p>-&shy;‐1/2 Banana</p>
<p>-&shy;‐1sp Chia Seeds or Flaxseeds</p>
<p>-&shy;‐Pinch Cinnamon</p>
<p>-&shy;‐1sp Casein Protein (or Whey)</p>
<p>-&shy;‐1sp Almond butter or Peanut butter</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 375</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 30g PRO &ndash; 30g FAT &ndash; 15g</strong></p>
</td>
</tr>
<tr>
<td colspan="3" width="462">
<p><strong>Calories -&shy;‐ 2825&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protein &ndash; 210g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carbs &ndash; 350g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fat &ndash; 65g</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>NON-&shy;‐VEG</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>TIME</strong></p>
</td>
<td width="276">
<p><strong>WORKOUT DAYS &amp; NON WORKOUT DAY</strong></p>
<p><strong>NUTRITION</strong></p>
</td>
<td width="114">
<p><strong>MACRO</strong></p>
<p><strong>BREAKDOWN</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 1</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BREAKFAST</strong></p>
<p>6AM</p>
</td>
<td width="276">
<p><strong>PROTEIN SMOOTHIE</strong></p>
<p>-&shy;‐2/3sp Whey</p>
<p>-&shy;‐1/2 cup Oats</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐240ml non fat milk</p>
<p>-&shy;‐2g Cinnamon</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>PRE W/O</strong></p>
<p>7:30AM</p>
</td>
<td width="372">
<p><strong>PRE W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1scoop C4 or Amino Energy or Assault or 1.M.R or No Xplode</p>
<p>-&shy;‐200ml Cold Water</p>
<p><strong>OR</strong></p>
<p><strong>PRE W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐&frac12;tbs Coffee (Nescafe)</p>
<p>-&shy;‐240ml Hot Water + 1sp milk</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>8:00-&shy;‐9:00</p>
</td>
<td width="372">
<p>WORKOUT</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td style="width: 72px;">
<p><strong>POST W/O</strong></p>
<p>9:15AM</p>
</td>
<td style="width: 276px;">
<p><strong>POST W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1-&shy;‐2scoop Whey Protein</p>
<p>-&shy;‐5g BCAA</p>
<p>-&shy;‐240ml Gatorade</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
<p><strong>OR</strong></p>
<p><strong>POST W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐6 Boiled Egg Whites</p>
<p>-&shy;‐240ml Non fat milk</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
</td>
<td style="width: 114px;">
<p><strong>CAL &ndash; 400</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 70g PRO &ndash; 30g FAT &ndash; 0g</strong></p>
</td>
<td style="width: 18px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 72px;">
<p>&nbsp;</p>
</td>
<td style="width: 396px;" colspan="2">
<p><strong>MEAL 2</strong></p>
</td>
<td style="width: 18px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 72px;">
<p><strong>SNACK</strong></p>
<p>10-&shy;‐11AM</p>
</td>
<td style="width: 276px;">
<p><strong>SPINACH OMELETE</strong></p>
<p>-&shy;‐1 Whole Egg</p>
<p>-&shy;‐5 Egg Whites</p>
<p>-&shy;‐3 slice whole wheat bread</p>
<p>-&shy;‐2 Handful Spinach</p>
<p>-&shy;‐1 Orange</p>
</td>
<td style="width: 114px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td style="width: 18px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 72px;">
<p>&nbsp;</p>
</td>
<td style="width: 396px;" colspan="2">
<p><strong>MEAL 3</strong></p>
</td>
<td style="width: 18px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 72px;">
<p><strong>LUNCH</strong></p>
<p>1-&shy;‐2PM</p>
</td>
<td style="width: 276px;">
<p><strong>POTATO BEAN BOWL</strong></p>
<p>-&shy;‐100g Grilled Chicken</p>
<p>-&shy;‐1/2 cup Black Kidney Beans or Red Kidney Beans</p>
</td>
<td style="width: 114px;">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g</strong></p>
</td>
<td style="width: 18px;">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td width="276">
<p>-&shy;‐1/2 cup White Chickpeas</p>
<p>-&shy;‐100g Sweet Potato</p>
<p>-&shy;‐1/2 Green Bell Pepper</p>
<p>-&shy;‐1/2sp Olive oil</p>
<p>-&shy;‐3sp Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐1/2 Lemon</p>
</td>
<td width="114">
<p><strong>PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 4</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>SNACK</strong></p>
<p>4:30PM</p>
</td>
<td width="276">
<p><strong>MULTI GRAIN MEAL</strong></p>
<p>-&shy;‐1/8cup Oats</p>
<p>-&shy;‐1/8cup Quinoa</p>
<p>-&shy;‐1/8cup Millet</p>
<p>-&shy;‐1/8cup Amarathan</p>
<p>-&shy;‐1/2sp Whey</p>
<p>-&shy;‐1sp Peanuts + &frac12; Apple</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 5</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>DINNER</strong></p>
<p>7-&shy;‐8PM</p>
</td>
<td width="276">
<p><strong>BOILED EGG SABJI</strong></p>
<p>-&shy;‐2 Whole Eggs (boiled)</p>
<p>-&shy;‐3 Egg Whites (boiled)</p>
<p>-&shy;‐&frac12; Green Bell Pepper</p>
<p>-&shy;‐3sp Red Onions</p>
<p>-&shy;‐3sp Green Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐2 Thin Chapatti</p>
<p>-&shy;‐1sp Ketchup</p>
<p>-&shy;‐Salt/Pepper/Garlic Power</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 6</strong></p>
</td>
<td rowspan="3" width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BEFORE BED</strong></p>
<p>10PM</p>
</td>
<td width="276">
<p><strong>PROTEIN PAN CAKE</strong></p>
<p>-&shy;‐1 Whole Egg</p>
<p>-&shy;‐1/2 Banana</p>
<p>-&shy;‐1sp Chia Seeds or Flaxseeds</p>
<p>-&shy;‐Pinch Cinnamon</p>
<p>-&shy;‐1sp Casein Protein (or Whey)</p>
<p>-&shy;‐1sp Almond butter or Peanut butter</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 375</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 30g PRO &ndash; 30g FAT &ndash; 15g</strong></p>
</td>
</tr>
<tr>
<td colspan="3" width="462">
<p><strong>Calories -&shy;‐ 2825&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protein &ndash; 210g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carbs &ndash; 350g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fat &ndash; 65g</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>VEG PLAN BASED ON EVENING WORKOUT</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>TIME</strong></p>
</td>
<td width="276">
<p><strong>WORKOUT DAYS &amp; NON WORKOUT DAY</strong></p>
<p><strong>NUTRITION</strong></p>
</td>
<td width="114">
<p><strong>MACRO</strong></p>
<p><strong>BREAKDOWN</strong></p>
</td>
<td rowspan="4" width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 1</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BREAKFAST</strong></p>
<p>8-&shy;‐9AM</p>
</td>
<td width="276">
<p><strong>PROTEIN SMOOTHIE</strong></p>
<p>-&shy;‐2/3sp Whey</p>
<p>-&shy;‐1/2 cup Oats</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐240ml non fat milk</p>
<p>-&shy;‐2g Cinnamon</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 2</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>SNACK</strong></p>
<p>11-&shy;‐12PM</p>
</td>
<td width="276">
<p><strong>MILK &amp; BREAD</strong></p>
<p>-&shy;‐240ml non fat milk (mix 1sp Protinex)</p>
<p>-&shy;‐3 slice whole wheat bread</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐1 Orange</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 52g PRO &ndash; 28g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 3</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>LUNCH</strong></p>
<p>2-&shy;‐3PM</p>
</td>
<td width="276">
<p><strong>POTATO BEAN BOWL</strong></p>
<p>-&shy;‐50g Soy Chunks</p>
<p>-&shy;‐1/2 cup Black Kidney Beans or Red Kidney Beans</p>
<p>-&shy;‐1/2 cup White Chickpeas</p>
<p>-&shy;‐100g Sweet Potato</p>
<p>-&shy;‐1/2 Green Bell Pepper</p>
<p>-&shy;‐1/2sp Olive oil</p>
<p>-&shy;‐3sp Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐1/2 Lemon</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 4</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>SNACK</strong></p>
<p>4-&shy;‐5PM</p>
</td>
<td width="276">
<p><strong>MULTI GRAIN MEAL</strong></p>
<p>-&shy;‐1/8cup Oats</p>
<p>-&shy;‐1/8cup Quinoa</p>
<p>-&shy;‐1/8cup Millet</p>
<p>-&shy;‐1/8cup Amarathan</p>
<p>-&shy;‐1/2sp Whey</p>
<p>-&shy;‐1sp Peanuts + &frac12; Apple</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>PRE W/O</strong></p>
<p>6PM</p>
</td>
<td width="372">
<p><strong>PRE W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1scoop C4 or Amino Energy or Assault or 1.M.R or No Xplode</p>
<p>-&shy;‐200ml Cold Water</p>
<p><strong>OR</strong></p>
<p><strong>PRE W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐&frac12;tbs Coffee (Nescafe)</p>
<p>-&shy;‐240ml Hot Water + 1sp milk</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>6:30-&shy;‐7:30</p>
</td>
<td width="372">
<p>WORKOUT</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>POST W/O</strong></p>
<p>7:30PM</p>
</td>
<td width="276">
<p><strong>POST W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1-&shy;‐2scoop Whey Protein</p>
<p>-&shy;‐5g BCAA</p>
<p>-&shy;‐240ml Gatorade</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
<p><strong>OR</strong></p>
<p><strong>POST W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐240ml Non fat milk</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 400</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 70g PRO &ndash; 30g FAT &ndash; 0g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 5</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>DINNER</strong></p>
<p>8:30-&shy;‐9PM</p>
</td>
<td width="276">
<p><strong>PANEER SABJI</strong></p>
<p>-&shy;‐100g Paneer</p>
<p>-&shy;‐ &frac12; green peas</p>
<p>-&shy;‐&frac12; Green Bell Pepper</p>
<p>-&shy;‐3sp Red Onions</p>
<p>-&shy;‐3sp Green Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐2 Thin Chapatti</p>
<p>-&shy;‐1sp Ketchup</p>
<p>-&shy;‐Salt/Pepper/Garlic Power</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 55g PRO &ndash; 25g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 6</strong></p>
</td>
<td rowspan="3" width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BEFORE BED</strong></p>
<p>11PM</p>
</td>
<td width="276">
<p><strong>PROTEIN PAN CAKE</strong></p>
<p>-&shy;‐1/2 Banana</p>
<p>-&shy;‐1sp Chia Seeds or Flaxseeds</p>
<p>-&shy;‐Pinch Cinnamon</p>
<p>-&shy;‐1sp Casein Protein (or Whey)</p>
<p>-&shy;‐2sp Almond butter or Peanut butter</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 375</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 30g PRO &ndash; 30g FAT &ndash; 15g</strong></p>
</td>
</tr>
<tr>
<td colspan="3" width="462">
<p><strong>Calories -&shy;‐ 2825&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protein &ndash; 210g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carbs &ndash; 350g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fat &ndash; 65g</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>VEG PLAN BASED ON MORNING WORKOUT</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>TIME</strong></p>
</td>
<td width="276">
<p><strong>WORKOUT DAYS &amp; NON WORKOUT DAY</strong></p>
<p><strong>NUTRITION</strong></p>
</td>
<td width="114">
<p><strong>MACRO</strong></p>
<p><strong>BREAKDOWN</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 1</strong></p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BREAKFAST</strong></p>
<p>6AM</p>
</td>
<td width="276">
<p><strong>PROTEIN SMOOTHIE</strong></p>
<p>-&shy;‐2/3sp Whey</p>
<p>-&shy;‐1/2 cup Oats</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐240ml non fat milk</p>
<p>-&shy;‐2g Cinnamon</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>PRE W/O</strong></p>
<p>7:30AM</p>
</td>
<td width="372">
<p><strong>PRE W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1scoop C4 or Amino Energy or Assault or 1.M.R or No Xplode</p>
<p>-&shy;‐200ml Cold Water</p>
<p><strong>OR</strong></p>
<p><strong>PRE W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐&frac12;tbs Coffee (Nescafe)</p>
<p>-&shy;‐240ml Hot Water + 1sp milk</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>8:00-&shy;‐9:00</p>
</td>
<td width="372">
<p>WORKOUT</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p><strong>POST W/O</strong></p>
<p>9:15AM</p>
</td>
<td width="276">
<p><strong>POST W/O SUPPLEMENT</strong></p>
<p>-&shy;‐1-&shy;‐2scoop Whey Protein</p>
<p>-&shy;‐5g BCAA</p>
<p>-&shy;‐240ml Gatorade</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
<p><strong>OR</strong></p>
<p><strong>POST W/O WITHOUT SUPPLEMENT</strong></p>
<p>-&shy;‐240ml Non fat milk</p>
<p>-&shy;‐1 Banana</p>
<p>-&shy;‐1sp Honey</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 400</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 70g PRO &ndash; 30g FAT &ndash; 0g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 2</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>SNACK</strong></p>
<p>10-&shy;‐11AM</p>
</td>
<td width="276">
<p><strong>MILK &amp; BREAD</strong></p>
<p>-&shy;‐240ml non fat milk (mix 1sp Protinex)</p>
<p>-&shy;‐3 slice whole wheat bread</p>
<p>-&shy;‐1sp Peanut Butter</p>
<p>-&shy;‐1 Orange</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 52g PRO &ndash; 28g</strong></p>
<p><strong>FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 3</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>LUNCH</strong></p>
<p>1-&shy;‐2PM</p>
</td>
<td width="276">
<p><strong>POTATO BEAN BOWL</strong></p>
<p>-&shy;‐50g Soy Chunks</p>
<p>-&shy;‐1/2 cup Black Kidney Beans or Red Kidney Beans</p>
<p>-&shy;‐1/2 cup White Chickpeas</p>
<p>-&shy;‐100g Sweet Potato</p>
<p>-&shy;‐1/2 Green Bell Pepper</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td width="276">
<p>-&shy;‐1/2sp Olive oil</p>
<p>-&shy;‐3sp Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐1/2 Lemon</p>
</td>
<td width="114">
<p>&nbsp;</p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 4</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>SNACK</strong></p>
<p>4:30PM</p>
</td>
<td width="276">
<p><strong>MULTI GRAIN MEAL</strong></p>
<p>-&shy;‐1/8cup Oats</p>
<p>-&shy;‐1/8cup Quinoa</p>
<p>-&shy;‐1/8cup Millet</p>
<p>-&shy;‐1/8cup Amarathan</p>
<p>-&shy;‐1/2sp Whey</p>
<p>-&shy;‐1sp Peanuts + &frac12; Apple</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 50g PRO &ndash; 30g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 5</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>DINNER</strong></p>
<p>7-&shy;‐8PM</p>
</td>
<td width="276">
<p><strong>PANEER SABJI</strong></p>
<p>-&shy;‐100g Paneer</p>
<p>-&shy;‐ &frac12; green peas</p>
<p>-&shy;‐&frac12; Green Bell Pepper</p>
<p>-&shy;‐3sp Red Onions</p>
<p>-&shy;‐3sp Green Onion</p>
<p>-&shy;‐3sp Tomato</p>
<p>-&shy;‐2 Thin Chapatti</p>
<p>-&shy;‐1sp Ketchup</p>
<p>-&shy;‐Salt/Pepper/Garlic Power</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 410</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 55g PRO &ndash; 25g FAT &ndash; 10g</strong></p>
</td>
<td width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p>&nbsp;</p>
</td>
<td colspan="2" width="390">
<p><strong>MEAL 6</strong></p>
</td>
<td rowspan="3" width="18">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="72">
<p><strong>BEFORE BED</strong></p>
<p>10PM</p>
</td>
<td width="276">
<p><strong>PROTEIN PAN CAKE</strong></p>
<p>-&shy;‐1/2 Banana</p>
<p>-&shy;‐1sp Chia Seeds or Flaxseeds</p>
<p>-&shy;‐Pinch Cinnamon</p>
<p>-&shy;‐1sp Casein Protein (or Whey)</p>
<p>-&shy;‐2sp Almond butter or Peanut butter</p>
</td>
<td width="114">
<p><strong>CAL &ndash; 375</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>CARBS &ndash; 30g PRO &ndash; 30g FAT &ndash; 15g</strong></p>
</td>
</tr>
<tr>
<td colspan="3" width="462">
<p><strong>Calories -&shy;‐ 2825&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protein &ndash; 210g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carbs &ndash; 350g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fat &ndash; 65g</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</center>
</div>
		<div class="goalh2txt">
			<center>
			<p>&nbsp;</p>
<h1 style="text-align: left;"><span style="color: green;"><strong>&nbsp;<center>WORKOUT PLAN</center></strong></span></h1>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="113">
<p>MONDAY</p>
</td>
<td width="312">
<p>Legs</p>
</td>
</tr>
<tr>
<td width="113">
<p>TUESDAY</p>
</td>
<td width="312">
<p>Shoulders + Abs + Cardio</p>
</td>
</tr>
<tr>
<td width="113">
<p>WEDNESDAY</p>
</td>
<td width="312">
<p>Arms</p>
</td>
</tr>
<tr>
<td width="113">
<p>THURSDAY</p>
</td>
<td width="312">
<p>Abs + Cardio</p>
</td>
</tr>
<tr>
<td width="113">
<p>FRIDAY</p>
</td>
<td width="312">
<p>Chest</p>
</td>
</tr>
<tr>
<td width="113">
<p>SATURDAY</p>
</td>
<td width="312">
<p>Back + Abs + Cardio</p>
</td>
</tr>
<tr>
<td width="113">
<p>SUNDAY</p>
</td>
<td width="312">
<p>REST</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>MONDAY &ndash; LEGS</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="64">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 1</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Leg Press</p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; DB Walking Lunges</p>
</td>
<td width="73">
<p>5</p>
<p>10</p>
</td>
<td width="64">
<p>&nbsp;</p>
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Leg Extension</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 2</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; DB or Barbell Deadlift</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Laying Leg Curl</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Seated Calf Raise</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 3 exercises back to back. Rest 2mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>TUESDAY &ndash; SHOULDERS + ABS + CARDIO</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="64">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 1</p>
</td>
<td width="229">
<p>d)&nbsp;&nbsp;&nbsp;&nbsp; Shoulder Press Behind the neck</p>
<p>e)&nbsp;&nbsp;&nbsp;&nbsp; DB Side Raise</p>
<p>f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Plate Front Raise</p>
</td>
<td width="73">
<p>5</p>
<p>10</p>
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 2</p>
</td>
<td width="229">
<p>d)&nbsp;&nbsp;&nbsp; DB Press</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>e)&nbsp;&nbsp;&nbsp;&nbsp; DB Front Raise</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cable Rear Delt Fly</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 3 exercises back to back. Rest 2mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="74">
<p><strong>ABS</strong></p>
</td>
<td width="227">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="66">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set</p>
</td>
<td width="227">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Sit-&shy;‐ups</p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Hanging Side Raise</p>
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Reverse Crunch</p>
<p>d)&nbsp;&nbsp;&nbsp;&nbsp; Wood Chopper</p>
</td>
<td width="73">
<p>20</p>
<p>10</p>
<p>20</p>
<p>20</p>
</td>
<td width="66">
<p>&nbsp;</p>
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p><strong>CARDIO</strong></p>
</td>
<td width="227">
<p>20 min Running on Treadmill</p>
</td>
<td width="73">
<p>Speed</p>
<p>6-&shy;‐7mph</p>
</td>
<td width="66">
<p>20minutes</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 4 exercises back to back. Rest 1mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>WEDNESDAY &ndash; ARMS</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="64">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 1</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Barbell Curl</p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; DB Hammer Curl</p>
</td>
<td width="73">
<p>5</p>
<p>10</p>
</td>
<td width="64">
<p>&nbsp;</p>
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Laying Cable Curl</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 2</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Barbell Skull Crusher</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Rope Overhead Extension</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Close Grip Triceps Pushdown</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 3 exercises back to back. Rest 2mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>THURSDAY &ndash; ABS + CARDIO</p>
</td>
</tr>
<tr>
<td width="74">
<p><strong>ABS</strong></p>
</td>
<td width="227">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="66">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set</p>
</td>
<td width="227">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Sit-&shy;‐ups</p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Hanging Side Raise</p>
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Reverse Crunch</p>
<p>d)&nbsp;&nbsp;&nbsp;&nbsp; Wood Chopper</p>
</td>
<td width="73">
<p>20</p>
<p>10</p>
<p>20</p>
<p>20</p>
</td>
<td width="66">
<p>&nbsp;</p>
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p><strong>CARDIO</strong></p>
</td>
<td width="227">
<p>20 min Running on Treadmill</p>
</td>
<td width="73">
<p>Speed</p>
<p>6-&shy;‐7mph</p>
</td>
<td width="66">
<p>20minutes</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 4 exercises back to back. Rest 1mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>FRIDAY &ndash; CHEST</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="64">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 1</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; DB or Barbell Incline Press</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Machine Chest Press or DB Press</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Decline Cable Fly</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 2</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Decline Pushup (add weight on your back)</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Incline Pushups</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Regular Pushups or Barbell Press</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 3 exercises back to back. Rest 2mins after giant set.</span></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td colspan="4" width="441">
<p>SATURDAY &ndash; BACK +ABS + CARDIO</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p><strong>Exercises</strong></p>
</td>
<td width="73">
<p><strong>Reps/set</strong></p>
</td>
<td width="64">
<p><strong>Set</strong></p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 1</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; Wide Grip Lat Pull down</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Machine Rows</p>
</td>
<td width="73">
<p>10</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Standing Lat Pull Down</p>
</td>
<td width="73">
<p>20</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>Giant Set 2</p>
</td>
<td width="229">
<p>a)&nbsp;&nbsp;&nbsp;&nbsp; DB or Barbell Shrugs</p>
</td>
<td width="73">
<p>5</p>
</td>
<td width="64">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="74">
<p>&nbsp;</p>
</td>
<td width="229">
<p>b)&nbsp;&nbsp;&nbsp;&nbsp; Rope Upright Rows</p>
<p>c)&nbsp;&nbsp;&nbsp;&nbsp; Hyper Back Extension</p>
</td>
<td width="73">
<p>10</p>
<p>20</p>
</td>
<td width="64">
<p>3-&shy;‐4</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="color: #ff0000;">NOTE: There is no rest in between the giant set, do 3 exercises back to back. Rest 2mins after giant set.</span></strong></p></center>
</div>
{% endblock body %}