{% extends 'base.html' %}

{% block body %}
<div class="middleware">
    <h1>Index Page</h1>

    <h1>
        select excercise level
    </h1>

    <h1><a href="/excercise/{{ gender }}/{{ fitness_plan }}/beginer/">Beginer</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/excercise/{{ gender }}/{{ fitness_plan }}/intermediate/">intermediate</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/excercise/{{ gender }}/{{ fitness_plan }}/advance/">Advance</a></h1>

</div>
{% endblock body %}