{% extends 'base.html' %}

{% block body %}
<div class="excercisedisplaymain">
    
{% comment %} 
    {% for body_part in body_parts %}

    <a href="/excercise/{{ gender }}/{{ fitness_plan }}/{{ fitness_level}}/{{ body_part.pk }}/">
        <center>
            <font color="green">
                <h2>{{ body_part.name }}</h2>
            </font>
        </center>
    </a>
    <hr> {% endcomment %}
    <div class="bodypartname">
        <h3>Body Part Name : {{ body_part.name }}</h3>
    </div>
    {% for excercise in excercises %}

    <div class="excercisedisplay">
        <h3>Excercise name</h3> <br><br> {{excercise.excercise.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="excerciserapsdisplay">
        <h3>Excercise Raps</h3> <br><br> {{excercise.reps}}
    </div>

    <div class="excerciseimagedisplay">
        <h3>Image</h3> <br><br> <img src="\media\{{excercise.excercise.image}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
    </div>

    {% endfor %}
    </br></br></br>
    {% comment %} {% endfor %} {% endcomment %}
</div>
{% endblock body %}